<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>

    <link rel="stylesheet" href="static/topPage.css">
</head>
<body>
    <div class = "toppage">
        <header>
            <h1>サンプルサイト</h1>
            <nav>
            <ul>
            <li><a href="index.html">ホーム</a></li>
            <li><a href="menu01.html">メニュー1</a></li>
            <li><a href="menu02.html">メニュー2</a></li>
            </ul>
            </nav>
        </header>
    </div>
</body>
</html>